<style>
/* Đ‘Đ°Đ·ĐľĐ˛Ń‹Đą ĐşĐľĐ˝Ń‚ĐµĐąĐ˝ĐµŃ€ Ń‚Đ°Đ±ĐľĐ˛ */

.tabs {
  min-width: 320px;
  max-width: 320px;
  padding: 0px;
  margin: 0 auto;
}
.tabs input{
    max-width: 100%;
  }

.tabs input[type="radio"] {
      display: none;
 }
/* Ń�Ń‚Đ¸Đ»Đ¸ Ń�ĐµĐşŃ†Đ¸Đą Ń� Ń�ĐľĐ´ĐµŃ€Đ¶Đ°Đ˝Đ¸ĐµĐĽ */
.tabs section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 0 10px  10px 10px;
}

/* Ń�Ń‚Đ¸Đ»Đ¸ Đ˛ĐşĐ»Đ°Đ´ĐľĐş (Ń‚Đ°Đ±ĐľĐ˛) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 4px 15px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 1px solid #a1a1a1;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

/* Đ¸Đ·ĐĽĐµĐ˝ĐµĐ˝Đ¸ŃŹ Ń�Ń‚Đ¸Đ»ŃŹ Đ·Đ°ĐłĐľĐ»ĐľĐ˛ĐşĐľĐ˛ Đ˛ĐşĐ»Đ°Đ´ĐľĐş ĐżŃ€Đ¸ Đ˝Đ°Đ˛ĐµĐ´ĐµĐ˝Đ¸Đ¸ */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}
/* Ń�Ń‚Đ¸Đ»Đ¸ Đ´Đ»ŃŹ Đ°ĐşŃ‚Đ¸Đ˛Đ˝ĐľĐą Đ˛ĐşĐ»Đ°Đ´ĐşĐ¸ */
.tabs input:checked + label {
  color: #555;
  border: 1px solid #a1a1a1;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* Đ°ĐşŃ‚Đ¸Đ˛Đ°Ń†Đ¸ŃŹ Ń�ĐµĐşŃ†Đ¸Đą Ń� ĐżĐľĐĽĐľŃ‰ŃŚŃŽ ĐżĐµŃ€ĐµĐşĐ»ŃŽŃ‡Đ°Ń‚ĐµĐ»ŃŹ :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5{
  display: block;
}
/* ĐĽĐµĐ´Đ¸Đ° Đ·Đ°ĐżŃ€ĐľŃ�Ń‹ Đ´Đ»ŃŹ Ń€Đ°Đ·Đ»Đ¸Ń‡Đ˝Ń‹Ń… Ń‚Đ¸ĐżĐľĐ˛ Đ˝ĐľŃ�Đ¸Ń‚ĐµĐ»ĐµĐą */
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}
</style>